body{
margin:0px;
background-color:#777777;
}

.tomato-header
{
color:#FFFF00;
font-family:Arial black; 
text-align: center;
font-size:5vh;
background-color:#008800;
}

.item1-header
{
display:flex;
align-items:center;
flex-wrap:wrap;
position:relative;
justify-content:space-around;
width:100%;
}

.item2-header
{
display:flex;
margin:0px;
padding:0px;
border:0px solid #AAAAAA;
justify-content:center;
width:50%;
position:relative;
}

.item3-header
{
display:flex;
justify-content:center;
border:0px solid #AAAAAA;
margin:0px;
padding:0px;
width:50vh;
position:relative;
}

@media (min-width:576px)
{
.item3-header{
width:50%;
}
}